In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.svm import SVC

In [14]:
#read data 
data=pd.read_csv('cell_samples.csv')
data

,ID,Clump,UnifSize,UnifShape,MargAdh,SingEpiSize,BareNuc,BlandChrom,NormNucl,Mit,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 699 entries, 1000025 to 897471
Data columns (total 10 columns):
Clump          699 non-null int64
UnifSize       699 non-null int64
UnifShape      699 non-null int64
MargAdh        699 non-null int64
SingEpiSize    699 non-null int64
BareNuc        699 non-null object
BlandChrom     699 non-null int64
NormNucl       699 non-null int64
Mit            699 non-null int64
Class          699 non-null int64
dtypes: int64(9), object(1)
memory usage: 60.1+ KB

In [15]:
#set id as index
data.set_index("ID", inplace = True) 
data=data.drop(['BareNuc'], axis = 1)        
#data['BareNuc'].astype('float')
#data.astype({'BareNuc': 'int32'}).dtypes
features=data.drop(['Class'], axis = 1)
labels=data['Class']

#data=data[pd.to_numeric(data['BareNuc'],errors ='coerce').notnull()]
#data['BareNuc']=data['BareNuc'].astype('int')
#x=data.iloc[:,:-1].values
#y=data.iloc[:,-1].values

#to know  numbers of samples in each class
#data['Class'].value_counts()

,Clump,UnifSize,UnifShape,MargAdh,SingEpiSize,BlandChrom,NormNucl,Mit,Class
ID,,,,,,,,,
1000025,5,1,1,1,2,3,1,1,2
1002945,5,4,4,5,7,3,2,1,2
1015425,3,1,1,1,2,3,1,1,2
1016277,6,8,8,1,3,3,7,1,2
1017023,4,1,1,3,2,3,1,1,2

In [ ]:

print(data.info())

In [16]:
X_train, X_test, y_train, y_test = train_test_split(features,labels, test_size=.3,random_state=0)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)
print(len(X_train))
print(len(y_train))

(489, 8) (489,)
(210, 8) (210,)
489
489

In [17]:
svmModel=SVC(kernel = 'linear',C=1,gamma='auto')
svmModel.fit(X_train,y_train)

SVC(C=1, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [18]:
from sklearn.metrics import confusion_matrix 
from sklearn.metrics import accuracy_score

In [19]:
y_predicted=svmModel.predict(X_test)
confusion_matrix(y_train,svmModel.predict(X_train))

array([[314,   9],
       [  4, 162]], dtype=int64)

In [20]:
accuracy_score(y_train,svmModel.predict(X_train))

0.9734151329243353

In [21]:
confusion_matrix(y_test,svmModel.predict(X_test))

array([[128,   7],
       [  4,  71]], dtype=int64)

In [22]:
accuracy_score(y_test,svmModel.predict(X_test))

0.9476190476190476

In [23]:
param={'kernel':('linear','poly','rbf','sigmoid'),'C':[1,52,10],'degree':[3,8]
       ,'coef0':[.001,10,0.5],'gamma':['auto','scale']}

In [24]:


svmModel=SVC()
grid=GridSearchCV(svmModel,param,cv=5)
grid.fit(X_train,y_train)

C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='auto_deprecated', kernel='rbf', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='warn', n_jobs=None,
             param_grid={'C': [1, 52, 10], 'coef0': [0.001, 10, 0.5],
                         'degree': [3, 8], 'gamma': ['auto', 'scale'],
                         'kernel': ('linear', 'poly', 'rbf', 'sigmoid')},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [25]:
grid.best_params_

{'C': 1, 'coef0': 0.001, 'degree': 3, 'gamma': 'auto', 'kernel': 'linear'}